<link rel="stylesheet" href="https://cdn.orangecss.com/1.4.2/css/orange.min.css">
<script src="https://cdn.orangecss.com/1.4.2/js/orange.min.js"></script>

<div class="container">
  <center><h1>Hello!</h1></center>
  <h2>welcome to this inventory system. Here's the pricing</h2>

  <table class="table table--fixed table--compact table--definition table--border-bottom">
    <thead>
      <th>Plan</th>
      <th>Fomo Essential</th>
      <th>
        Fomo Plus <span class="label label--green label--small">current plan</span>
      </th>
      <th>Fomo Advanced</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <button type="button" class="button button--basic button--small">Downgrade to Essential</button>
        </td>
        <td>
          <button type="button" class="button button--basic button--small">Cancel subscription</button>
        </td>
        <td>
          <button type="button" class="button button--small">Upgrade to Advanced</button>
        </td>
      </tr>
      <tr>
        <td>Price</td>
        <td>$39 / month</td>
        <td>$79 / month</td>
        <td>$199 / month</td>
      </tr>
      <tr>
        <td>Notifications</td>
        <td>50,000</td>
        <td>200,000</td>
        <td>3,000,000</td>
      </tr>
      <tr>
        <td>Website domains</td>
        <td>unlimited</td>
        <td>unlimited</td>
        <td>unlimited</td>
      </tr>
      <tr>
        <td>Custom page rules</td>
        <td><span class="icon-tick"></span></td>
        <td><span class="icon-tick"></span></td>
        <td><span class="icon-tick"></span></td>
      </tr>
      <tr>
        <td>Email support</td>
        <td><span class="icon-tick"></span></td>
        <td><span class="icon-tick"></span></td>
        <td><span class="icon-tick"></span></td>
      </tr>
    </tbody>
  </table>


</div>
